<ion-tabs>
  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="profile" [routerLink]="['/tabs/profile']">
      <img src="assets/img/user_17766670.svg" alt="Logout" style="width: 24px; height: 24px;" />
    </ion-tab-button>

    <ion-tab-button tab="health" [routerLink]="['/tabs/health']">
      <img src="assets/img/turnos.png" alt="Logout" style="width: 24px; height: 24px;" />
    </ion-tab-button>

    <ion-tab-button tab="servicios" [routerLink]="['/tabs/servicios']">
      <img src="assets/img/home-outline.svg" alt="Logout" style="width: 28px; height: 28px;" />
    </ion-tab-button>

    <ion-tab-button tab="mis-turnos" [routerLink]="['/tabs/mis-turnos']">
      <img src="assets/img/home-outline.svg" alt="Logout" style="width: 28px; height: 28px;" />
    </ion-tab-button>
    
    <ion-tab-button (click)="logoutDirect()" tab="profile">
      <img src="assets/img/log-out-outline.svg" alt="Logout" style="width: 24px; height: 24px;" />
    </ion-tab-button>
    
    
  </ion-tab-bar>
</ion-tabs>




