<ion-content class="home-background">
  <div class="home-container">
    <h1 class="home-title">Home</h1>

    <ion-grid>
      <ion-row>
        <ion-col size="6" *ngFor="let servicio of servicios">
          <ion-card button class="service-card" (click)="goTo(servicio.route)">
           <img [src]="servicio.imagen" alt="{{ servicio.nombre }}" class="service-image">
            <ion-card-content>
              <ion-icon [name]="servicio.icon" class="service-icon"></ion-icon>
              <p class="service-name">{{ servicio.nombre }}</p>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
