ion-content {
  --background: linear-gradient(to bottom, #e6f7ff, #ffffff);
}

.booking-section {
  background: #fff;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

h2 {
  color: #133E7C;
  text-align: center;
  font-weight: 600;
  margin-bottom: 20px;
}

ion-item {
  margin-bottom: 15px;
  border-radius: 10px;
  --background: #F3F7FB;
}

ion-button {
  margin-top: 20px;
  border-radius: 20px;
}

.my-turns {
  background: #fff;
  padding: 15px;
  border-radius: 15px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.no-turnos {
  text-align: center;
  color: #777;
}
