<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Editar turno</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="editar-background">

  <div class="contenedor">

    
    <div class="header-servicio">
      <h1 class="servicio-titulo">{{ nombreServicio }}</h1>

      <div class="chip-profesional">
       {{ nombreProfesional }}
      </div>
    </div>


   
    <div class="campo">
      <label>Fecha</label>
      <ion-input type="date" [(ngModel)]="fecha"></ion-input>
    </div>

    
    <div class="campo">
      <label>Hora</label>
      <ion-input type="time" [(ngModel)]="hora"></ion-input>
    </div>

   
    <div class="campo">
      <label>Sucursal</label>
      <ion-select [(ngModel)]="id_sucursal">
        <ion-select-option 
          *ngFor="let s of sucursales"
          [value]="s.id_sucursal">
          {{ s.nombre }}
        </ion-select-option>
      </ion-select>
    </div>

    
    <ion-button expand="block" class="btn-guardar" (click)="guardarCambios()">
      Guardar cambios
    </ion-button>

  </div>

</ion-content>